/vendor
/node_modules
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/storage
public/hot
